Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-03, with the labels that each got.

#238 Enhanced Data transfer dashboard
  content/Cost/200_Labs/200_Enterprise_Dashboards/3_create_data_transfer_cost_analysis.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/Code/6_view6.md
Labels: COST

#244 Enterprise Dashboard - Cost Intelligence CUDOS update
  content/Cost/200_Labs/200_Enterprise_Dashboards/1_create_cost_intelligence.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/2_modify_cost_intelligence.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/_index.md
  static/Cost/200_Enterprise_Dashboards/Cost_Intelligence_Dashboard_ReadMe.docx
  static/Cost/200_Enterprise_Dashboards/Cost_Intelligence_Dashboard_ReadMe.pdf
  static/js/aws-well-architected-labs - Shortcut.lnk
Labels: COST

#243 New WAT Lab - Build custom reports of AWS Well-Architected Reviews
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/1_etl_wa_workload_data.md
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/2_catalog_data.md
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/3_query_data.md
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/4_visualize.md
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/5_clean_up.md
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-1-architecture-diagram.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-10-well-arch-workload-milestone-view.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-11-choose-quicksight-table.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-12-dashboard-example.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-2-lambda_config.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-3-env-variable-config.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-4-lambda-trigger-config.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-5-glue-crawler-config.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-6-workloadsreport-table.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-7-report-answers.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-8-well-arch-reports-view.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/Images/fig-9-well-arch-workload-risk-view.png
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/_index.md
  content/Well-ArchitectedTool/300_Labs/_index.md
Labels: WATOOL

#245 New 300 Level Lab on Well-Architected AWS Lambda-backed custom resources
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/1_deploy_cfn.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/2_explore_lambda_code.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/3_how_to_use_in_CFN.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/4_deploying_sample_lambda_app.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/5_explore_wareview.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/6_cleanup.md
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/_index.md
  content/Well-ArchitectedTool/300_Labs/_index.md
  layouts/shortcodes/common/CreateNewCloudFormationStack.md
  layouts/shortcodes/readfile.html
  static/Common/images/CreateNewCloudFormationStack/CFNSARCapabilities.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/APIGWHeader.json
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/CFN/DeployWACustomLambda.yaml
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/CFN/SampleLambdaAPIGWDeploy.yaml
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/Python/CreateWAWorkloadLambda.py
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/Python/UpdateWAQuestionLambda.py
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Code/Python/cfnresponse.py
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/3/LambdaCFNResource.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/4/CFNOutputs1.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/4/CFNOutputs2.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/Lambda1.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/Lambda2.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/WATool1.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/WATool2.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/WATool3.png
  static/watool/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/Images/5/WATool4.png
Labels: WATOOL

#240 better description for fronted term 300_Health_Checks_and_Dependencies
  content/Reliability/300_Labs/300_Health_Checks_and_Dependencies/1_deploy_app.md
Labels: REL
