Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-07, with the labels that each got.

#290 use no-cookie version of YouTube for iFrame
  content/Security/100_Labs/100_AWS_Account_and_Root_User/_index.md
Labels: SEC

#286 Update 4_configure_sso.md
  content/Cost/100_Labs/100_1_AWS_Account_Setup/4_configure_sso.md
Labels: COST

#293 Added Terraform steps for 200 pricing ab
  content/Cost/200_Labs/200_Pricing_Model_Analysis/1_pricing_sources.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/1_Create_static_resources_Source.md
Labels: COST

#299 100 Level Rightsizing recommendations Lab Update (Replacing EC2 Rightsizing)
  content/Cost/100_Labs/100_AWS_Resource_Optimization/1_cloudwatch_intro.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/1_intro_right_sizing.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/2_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/3_prio_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/4_act_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/4_other_rs_tools.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/5_EC2_RS_best_practices.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/5_tear_down.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/_index.md
  static/Cost/100_AWS_Resource_Optimization/Code/WALAB-ec2-rightsizing-recommendations.csv
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt01.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt02.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt03.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt04.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt05.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt06.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt06b.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt07-idle-01.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt07-idle-02.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt07.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt07mem.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt08.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt09.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt10.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt11.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt12.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt13.png
  static/Cost/100_AWS_Resource_Optimization/Images/ResourceOpt14.png
Labels: COST

#300 Update intro for 200 pricing model analysis
  content/Cost/200_Labs/200_Pricing_Model_Analysis/1_pricing_sources.md
Labels: COST

#307 100&200 multi-payer cur
  content/Cost/100_Labs/100_1_AWS_Account_Setup/3_CUR.md
  content/Cost/100_Labs/100_1_AWS_Account_Setup/_index.md
  content/Cost/200_Labs/200_4_Cost_and_Usage_Analysis/2_Setup_Athena.md
  content/Cost/200_Labs/200_4_Cost_and_Usage_Analysis/3_CUR_Analysis.md
  content/Cost/200_Labs/200_4_Cost_and_Usage_Analysis/_index.md
  static/Cost/100_1_AWS_Account_Setup/Images/AWSAcct3.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCUR1.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCUR2.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCUR3.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCUR4.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCUR6.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCURDelivery0.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCURDelivery1.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCURDelivery3.png
  static/Cost/100_1_AWS_Account_Setup/Images/AWSCURDelivery4.png
  static/Cost/100_1_AWS_Account_Setup/Images/S3_ObjectOwnership1.png
  static/Cost/100_1_AWS_Account_Setup/Images/S3_ObjectOwnership2.png
  static/Cost/100_1_AWS_Account_Setup/Images/S3_enable_versioning.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3_createbucket.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_bucketpolicy.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_bucketpolicy2.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_permissions.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_permissions2.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_properties.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_replication.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_replication1.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_versioning1.png
  static/Cost/100_1_AWS_Account_Setup/Images/s3cur_versioning2.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/AWSBillingAnalysis_14.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/AWSBillingAnalysis_15.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/AWSBillingAnalysis_16.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/AWSBillingAnalysis_17.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue0.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue1.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue10.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue12.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue13.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue14.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue15.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue16.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue17.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue18.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue2.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue20.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue21.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue22.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue23.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue24.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue3.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue4.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue7.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue8.png
  static/Cost/200_4_Cost_and_Usage_Analysis/Images/Glue9.png
Labels: COST

#310 link to new cost dashboards for enterprise dashboards lab
  content/Cost/200_Labs/200_Enterprise_Dashboards/1_create_cost_intelligence.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/2_modify_cost_intelligence.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/3_create_data_transfer_cost_analysis.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/4_distribute_dashboards.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/5_tear_down.md
  content/Cost/200_Labs/200_Enterprise_Dashboards/_index.md
Labels: COST

#313 DisasterRecovery: Cleanup wording and grammar
  content/Reliability/Disaster Recovery/Workshop_1/Prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/cleanup/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/enable-aurora-writefwd/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/_index.md
  content/Reliability/Disaster Recovery/Workshop_4/cleanup/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/ec2-instance/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/promote-aurora/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/primary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/secondary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/setup-cloudfront/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/setup-website/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/verify-failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/verify-websites/_index.en.md
Labels: REL

#315 200 cid link corrected
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2a_cost_intelligence_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2b_cudos_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2c_additional_dashboards.md
Labels: COST
