Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-09, with the labels that each got.

#339 Add new reliability DR lab for analytics workload
  .gitignore
  content/Cost/200_Labs/200_4_Cost_and_Usage_Analysis/3_CUR_Analysis.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failback/RecreateDynamoDB.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failback/RemoveInfra.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failback/Resync.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failback/Traffic.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failback/_index.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failover/BackupInfra.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failover/Endpoint.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failover/Verify.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Failover/_index.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/GettingStarted/Account.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/GettingStarted/Architecture.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/GettingStarted/_index.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Next/Cleanup.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/Next/_index.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/SettingUp/BackupRegion.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/SettingUp/PrimaryRegion.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/SettingUp/TestWorkload.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/SettingUp/_index.md
  content/Reliability/200_Labs/200_Backup_Restore_Failback_Analytics/_index.en.md
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/cfn/dr-data.yaml
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/cfn/dr-infra.yaml
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/cfn/workload.yaml
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/glue/compaction.py
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/scripts/create-dr-infra.sh
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/scripts/create-dr.sh
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/scripts/create.sh
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/src/resync_s3.py
  static/Reliability/200_Backup_Restore_Failback_Analytics/Code/src/tweetmaker.py
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/backup-restore-analytics-workshop.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/backup-restore-workshop.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/kda.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/pitr1.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/pitr2.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/restorepitr1.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/restorepitr2.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/restorepitr3.png
  static/Reliability/200_Backup_Restore_Failback_Analytics/Images/sess_mgr.png
Labels: REL

#352 Add custom Previous and Next buttons to Disaster Recovery Workshops
  content/Reliability/Disaster Recovery/Workshop_1/Backup-to-US-West-1/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_1/Prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_1/Restore-to-US-West-1/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_1/US-East-1-Deployment/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_1/Wrap-up-and-clean-up/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_1/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/_index.md
  content/Reliability/Disaster Recovery/Workshop_2/cleanup/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/failover/promote-app/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/failover/promote-aurora/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/prerequisites/primary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/prerequisites/secondary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/verify-failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_2/verify-primary-website/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/_index.md
  content/Reliability/Disaster Recovery/Workshop_3/cleanup/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/failover/promote-app/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/failover/promote-aurora/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/enable-aurora-writefwd/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/primary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/prerequisites/secondary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/verify-failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_3/verify-websites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/_index.md
  content/Reliability/Disaster Recovery/Workshop_4/cleanup/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/ec2-instance/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/promote-aurora/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/primary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/prerequisites/secondary-region/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/setup-cloudfront/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/verify-failover/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/verify-websites/_index.en.md
Labels: REL

#354 Move DR CFN Templates under static folder - they are here just for ve…
  content/Reliability/Disaster Recovery/Workshop_2/prerequisites/primary-region/_index.en.files/PilotLightDR-Asg.yaml
  static/Reliability/Disaster_Recovery/Code/BackupAndRestore.yaml
  static/Reliability/Disaster_Recovery/Code/HotStandby.yaml
  static/Reliability/Disaster_Recovery/Code/PilotLightDR.yaml
  static/Reliability/Disaster_Recovery/Code/WarmStandbyDR.yaml
Labels: REL

#281 Fix field in the view because in the next select there are an error
  content/Well-ArchitectedTool/300_Labs/300_Building_custom_AWS_Well-Architected_reports_with_Amazon_Athena_and_Amazon_QuickSight/3_query_data.md
Labels: WATOOL

#357 fix: add note for error 'product_database_engine' does not exist
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/1_view1.md
Labels: COST

#361 updating REL300 shuffle-sharding - increased to 8 worker nodes
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/1_deploy_workload.md
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/2_impact_of_failures.md
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/3_implement_sharding.md
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/4_impact_of_failures_sharding.md
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/5_implement_shuffle_sharding.md
  content/Reliability/300_Labs/300_Fault_Isolation_with_Shuffle_Sharding/6_impact_of_failures_shuffle_sharding.md
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Code/regular.yaml
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Code/sharding.yaml
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Code/shuffle-sharding.yaml
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/Architecture-regular.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/Architecture-sharding.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/Architecture-shuffle-sharding.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/RegularSSMSelectInstances.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/ScopeSharding.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/ShardedFlow.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/ShardedFlowBrokenShard.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/ShuffleShardedFlow.png
  static/Reliability/300_Fault_Isolation_with_Shuffle_Sharding/Images/ShuffleShardedFlowBrokenNodes.png
Labels: REL
