Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-11, with the labels that each got.

#386 Feedback updates
  content/Cost/300_Labs/300_Optimization_Data_Collection/3_Data_Collection_Modules.md
  static/Cost/300_Optimization_Data_Collection/Code/Optimization_Data_Collector.yaml
  static/Cost/300_Optimization_Data_Collection/Code/organization_data.yaml
  static/Cost/300_Optimization_Data_Collection/Code/organization_rightsizing_lambda.yaml
  static/Cost/300_Optimization_Data_Collection/Images/assume-role-comment.png
Labels: COST

#338 Update _index.md
  content/Security/200_Labs/200_Automated_Deployment_of_EC2_Web_Application/_index.md
Labels: SEC

#388 Correct typo in SQL Query for EBS modernization
  content/Cost/300_Labs/300_CUR_Queries/Queries/cost_optimization.md
Labels: COST

#395 updated elasticsearch filter to match the new service name "Amazon OpenSearch Service"
  content/Cost/300_Labs/300_CUR_Queries/Queries/analytics.md
Labels: COST

#374 Added new FAQ
  content/Cost/200_Labs/200_Cloud_Intelligence/FAQ/_index.md
  static/Cost/200_Cloud_Intelligence/Images/AppliedDataset.png
  static/Cost/200_Cloud_Intelligence/Images/ChangeDataType.png
  static/Cost/200_Cloud_Intelligence/Images/ChooseDataset.png
  static/Cost/200_Cloud_Intelligence/Images/RLS.png
  static/Cost/200_Cloud_Intelligence/Images/S3-AppliedDataset.png
  static/Cost/200_Cloud_Intelligence/Images/S3-ChangeDataType.png
  static/Cost/200_Cloud_Intelligence/Images/S3-ChooseDataset.png
  static/Cost/200_Cloud_Intelligence/Images/S3-EditPreview.png
  static/Cost/200_Cloud_Intelligence/Images/S3-URL.png
  static/Cost/200_Cloud_Intelligence/Images/rowlevelsec1.PNG
Labels: COST

#389 Cost 200 CID updated CID cfns and ri_view
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2a_cost_intelligence_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2b_cudos_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/5_view5.md
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_10.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_11.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_12.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_3.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_4.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_4_1.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_5.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_6.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_6_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_7.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_8.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_9.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_athena_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_athena_3.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_athena_4.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_athena_5.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_glue_1.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_glue_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_qs_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_s3_2.png
  static/Cost/200_Cloud_Intelligence/Images/cf_dash_s3_3.png
Labels: COST

#400 Cost 200 - CID/CUDOS CFN url fix
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2a_cost_intelligence_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2b_cudos_dashboard.md
Labels: COST

#408 Chaos canary
  content/Reliability/300_Labs/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/4_failure_injection_ec2.md
  content/Reliability/300_Labs/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/5_failure_injection_rds.md
  content/Reliability/300_Labs/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/6_failure_injection_app.md
  content/Reliability/300_Labs/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/7_failure_injection_az.md
  static/Reliability/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/Code/CloudFormation/lambda_functions_for_deploy.json
  static/Reliability/300_Testing_for_Resiliency_of_EC2_RDS_and_S3/Code/CloudFormation/web_server_autoscaling.json
Labels: REL
