Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-01, with the labels that each got.

#188 New Lab to show how to use the AWS CLI to interact with the WellArchitected Tool
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/1_configure_env.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/2_create_workload.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/3_perform_review.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/4_save_milestone.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/5_view_report.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/6_cleanup.md
  content/Well-ArchitectedTool/200_Labs/200_Using_AWSCLI_To_Manage_WA_Reviews/_index.md
  content/Well-ArchitectedTool/200_Labs/_index.md
  layouts/shortcodes/common/InstallAWSCLIv2.md
  static/Common/awscliv2/NotFound1.png
  static/Common/awscliv2/NotFound2.png
  static/Common/awscliv2/Step1.png
  static/Common/awscliv2/Upgrade1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/AddRemoveLens1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/AddRemoveLens2.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/AddRemoveLens3.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/CreateWorkload1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/FindWorkloadId1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/2/FindWorkloadId2.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/3/FindQid1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/3/FindQid2.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/3/FindQid3.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/3/FindQid4.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/3/FindQid5.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/4/Milestone1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/4/Milestone2.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/4/Milestone3.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/4/Milestone4.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/5/Report1.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/5/Report2.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/5/Report3.png
  static/watool/200_Using_AWSCLI_To_Manage_WA_Reviews/Images/6/Remove1.png
Labels: WATOOL

#192 Improved AWS named services and spelling
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/1_Create_static_resources_Source.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/2_Create_Automation_Resources_Source.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/3_Utilize_Organization_Data_Source.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/4_Visualize_Organization_Data_in_QuickSight.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/5_Join_Cost_Intelligence_Dashboard.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/6_Bonus_Org_Tags.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/7_teardown.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/_index.md
Labels: COST

#201 Update _index.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/_index.md
Labels: COST

#202 Update 2_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/2_resource_opt.md
Labels: COST

#203 Update 3_prio_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/3_prio_resource_opt.md
Labels: COST

#204 Update 4_act_resource_opt.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/4_act_resource_opt.md
Labels: COST

#205 Update 5_EC2_RS_best_practices.md
  content/Cost/100_Labs/100_AWS_Resource_Optimization/5_EC2_RS_best_practices.md
Labels: COST

#217 Antross fixes
  content/Reliability/100_Labs/100_Deploy_CloudFormation/_index.md
  content/Reliability/200_Labs/200_Bidirectional_Replication_for_S3/_index.md
  content/Reliability/200_Labs/200_Deploy_and_Update_CloudFormation/_index.md
  content/Reliability/300_Labs/300_Health_Checks_and_Dependencies/_index.md
  content/Security/100_Labs/100_CloudFront_with_S3_Bucket_Origin/2_upload_file.md
Labels: REL, SEC

#224 Updating REL 200 Test Backup and Restore Lambda code to Python 3
  static/Reliability/200_Testing_Backup_and_Restore_of_Data/Code/backup-lab.yaml
  static/Reliability/200_Testing_Backup_and_Restore_of_Data/Code/lambda_function.py
Labels: REL
