Repository awslabs/aws-well-architected-labs, pull requests merged in 2021-04, with the labels that each got.

#248 WA contributing lab update
  content/Well-ArchitectedTool/100_Labs/Contributing/_index.md
  static/watool/Contributing/Images/directory.png
  static/watool/Contributing/Images/fork.png
  static/watool/Contributing/Images/fork2.png
  static/watool/Contributing/Images/git.png
  static/watool/Contributing/Images/git2.png
  static/watool/Contributing/Images/gitcommit.png
  static/watool/Contributing/Images/nav.png
  static/watool/Contributing/Images/pull.png
  static/watool/Contributing/Images/pull2.png
  static/watool/Contributing/Images/pull3.png
Labels: WATOOL

#246 Remove repeated pricing reference and fix minor grammatical error
  content/Security/100_Labs/100_CloudFront_with_S3_Bucket_Origin/_index.md
  content/Security/100_Labs/100_Enable_Security_Hub/_index.md
Labels: SEC

#231 Update Security Hub Level 100 Lab
  content/Security/100_Labs/100_Enable_Security_Hub/1_intro.md
  content/Security/100_Labs/100_Enable_Security_Hub/2_cleanup.md
  content/Security/100_Labs/100_Enable_Security_Hub/_index.md
  static/Security/100_Enable_Security_Hub/Images/after-security-hub-enable.png
  static/Security/100_Enable_Security_Hub/Images/aws-config-error.png
  static/Security/100_Enable_Security_Hub/Images/aws-config-success.png
  static/Security/100_Enable_Security_Hub/Images/enable-aws-config.png
  static/Security/100_Enable_Security_Hub/Images/enable-aws-security-hub.png
  static/Security/100_Enable_Security_Hub/Images/enable-security-hub.png
  static/Security/100_Enable_Security_Hub/Images/go-to-security-hub.png
  static/Security/100_Enable_Security_Hub/Images/search-for-security-hub.png
  static/Security/100_Enable_Security_Hub/Images/search-security-hub.png
  static/Security/100_Enable_Security_Hub/Images/security-hub-service-permissions.png
Labels: SEC

#250 added a tip to say you can deploy to management
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/_index.md
Labels: COST

#251 Bonus Organization Tags: Add support for pagination when calling list tags
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/6_Bonus_Org_Tags.md
Labels: COST
