Repository awslabs/aws-well-architected-labs, pull requests merged in 2022-03, with the labels that each got.

#467 lab Cost\300_Optimization_Data_Collection : use of assume session
  static/Cost/300_Optimization_Data_Collection/Code/rds_util_template.yaml
  static/Cost/300_Optimization_Data_Collection/Code/source/ecs.zip
  static/Cost/300_Optimization_Data_Collection/Code/source/ecs/ecs.py
  static/Cost/300_Optimization_Data_Collection/Code/source/fof.zip
  static/Cost/300_Optimization_Data_Collection/Code/source/fof/ami.py
  static/Cost/300_Optimization_Data_Collection/Code/source/fof/ebs.py
  static/Cost/300_Optimization_Data_Collection/Code/source/fof/snapshot.py
  static/Cost/300_Optimization_Data_Collection/Code/source/ta.zip
Labels: COST

#477 cost_200_KPI_Dashboard_cfn_update
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/2c_kpi_dashboard.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_s3_storage_all_view.md
Labels: COST

#479 Cost - S3 Query Update in 300 library and 200 Dashboard Updates
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/1_prerequistes.md
  content/Cost/300_Labs/300_CUR_Queries/Queries/cost_optimization.md
  static/Cost/300_CUR_Queries/Code/Cost_Optimization/s3-bucket-trends-and-optimizations.sql
Labels: COST

#482 changed spelling of privileges on fundamentals
  content/Cost/Fundamentals.md
Labels: COST

#422 Add type field
  content/Operational Excellence/100_Labs/100_Inventory_Patch_Management/7_create_sns_topic.md
Labels: OPS

#487 added cloudwatch:GetMetricStatistics
  static/Cost/300_Optimization_Data_Collection/Code/optimisation_read_only_role.yaml
Labels: COST

#486 minor cleanup and correction for hot standby lab
  content/Reliability/Disaster Recovery/Workshop_4/_index.md
  content/Reliability/Disaster Recovery/Workshop_4/configure-websites/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/disaster/ec2-instance/_index.en.md
  content/Reliability/Disaster Recovery/Workshop_4/verify-failover/_index.en.md
Labels: REL

#488 updated rds query which had error in it. Has AS statement in grouping
  content/Cost/300_Labs/300_CUR_Queries/Queries/database.md
  static/Cost/300_CUR_Queries/Code/Database/rds-w-id.sql
Labels: COST

#495 Pricing file split
  content/Cost/200_Labs/200_Pricing_Model_Analysis/1_pricing_sources.md
  content/Cost/200_Labs/200_Pricing_Model_Analysis/_index.md
  content/Cost/300_Labs/300_Organization_Data_CUR_Connection/2_Create_Automation_Resources_Source.md
Labels: COST

#484 cost_200_KPI_Dashboard_tag_samples
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_ebs_snap_view.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_ebs_storage_all_view.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_instance_all_view.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_s3_storage_all_view.md
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/Code/kpi_tracker_view.md
Labels: COST

#500 497 cost optimization data collection rds util templateyaml
  static/Cost/300_Optimization_Data_Collection/Code/rds_util_template.yaml
Labels: COST
