Repository awslabs/aws-well-architected-labs, pull requests merged in 2023-07, with the labels that each got.

#944 Fix formating
  content/Cost/200_Labs/200_Cloud_Intelligence/Cost & Usage Report Dashboards/Dashboards/deploy_dashboards.md
Labels: COST

#865 Updated AMI for EC2 instance for Operational Excellence Lab 200 Build Health Aware Operation Change Process
  static/Operations/200_Build_AWS_Health_Aware_Operation_Change_Process/Code/cfn_health_aware_ssm_stack.yaml
Labels: OPS

#943 Update 4_inventory_mgmt.md
  content/Operational Excellence/100_Labs/100_Inventory_Patch_Management/4_inventory_mgmt.md
Labels: OPS

#919 Update 3_deploy_env_iaac.md
  content/Operational Excellence/100_Labs/100_Inventory_Patch_Management/3_deploy_env_iaac.md
Labels: OPS

#923 chore: rename Lambda Powertools
  content/Well-ArchitectedTool/300_Labs/300_Using_WAT_With_Cloudformation_And_Custom_Lambda/2_explore_lambda_code.md
Labels: WATOOL

#936 AWS Cost Anomalies code
  content/Cost/300_Labs/300_Optimization_Data_Collection/3_Test_Modules.md
  content/Cost/300_Labs/300_Optimization_Data_Collection/_index.md
  content/Cost/300_Labs/300_Optimization_Data_Collection/_moduels.md
  static/Cost/300_Optimization_Data_Collection/Code/Management.yaml
  static/Cost/300_Optimization_Data_Collection/Code/Optimization_Data_Collector.yaml
  static/Cost/300_Optimization_Data_Collection/Code/module-cost-explorer-cost-anomaly.yaml
  static/Cost/300_Optimization_Data_Collection/Code/optimisation_read_only_role.yaml
  static/Cost/300_Optimization_Data_Collection/Test/test-from-scratch.py
Labels: COST

#949 Update 4_explore_cloudformation.md
  content/Reliability/100_Labs/100_Deploy_CloudFormation/4_explore_cloudformation.md
Labels: REL

#937 Added Savings plan owner account to the "Account Spend of Shared Savings Plan" query to make it more readable and useful for analysis
  content/Cost/300_Labs/300_CUR_Queries/Queries/compute.md
Labels: COST
